# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Base directories
build/
**/build/
libs/
tests/
frames/
*.gif
pogobot-sdk
TODO
tmp/
results/
*.old
opt_out/
tmp_opt/
*.bak
old/
pogobot

# Output data files
*.feather

# Example binaries
template_prj/template_prj
examples/helloworld/helloworld
examples/hanabi/hanabi
examples/ssr/ssr
examples/run_and_tumble/run_and_tumble
examples/phototaxis/phototaxis
examples/walls/walls
examples/cpp_helloworld/cpp_helloworld
examples/neighbor_counter/neighbor_counter
examples/run_tumble_wait/run_tumble_wait
examples/coverage_neighbors_novelty/coverage_neighbors_novelty
examples/IMU/IMU
examples/moving_oscillators/moving_oscillators
examples/lighthouse_localization/lighthouse_localization
examples/push_sum/push_sum
examples/active_brownian_particles/active_brownian_particles
examples/avoid_walls/avoid_walls
examples/vicsek/vicsek
examples/vicsek-autocal/vicsek-autocal
examples/toner-tu/toner-tu
examples/moving_partition/moving_partition

# Apptainer
*.sif
*.simg

# Valgrind
callgrind.*
vgcore.*

# Doxygen
html
latex

# Python
__pycache__
*.egg-info
dist/
